.container {
	width: 900px;
	margin: 50px auto;
}

@media (max-width: 940px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 740px) {
	.container {
		width: 500px;
	}
}


@media (max-width: 540px) {
	.container {
		width: 300px;
	}
}

@media (max-width: 440px) {
	.container {
		width: 200px;
	}
}

.container h2 {
	margin-top: 70px;
}